/* Content */

.Card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around
}

.card-text, .card-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text {
    margin: 0px;
}

h3 {
    margin-top: 16px;
}

h6 {
    margin: 0px;
}

h5 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 59px;
    align-content: center;
}

/* Body */

.bodyD {
    width: 20%;
    min-width: 250px;
    margin: 1% 2.5%;
}

.bodyS {
    width: 45%;
    min-width: 250px;
    margin: 1% 2.5%;
}

.bodyQ {
    width: 45%;
    min-width: 250px;
    margin: 1% 2.5%;
}

/* Trash */

.quote, .story, .diary {
    position: relative;
    width: 20px;
    height: 20px;
}

.quote:hover, .story:hover, .diary:hover {
    cursor: pointer;
}