/* Spinner */

.d-flex {
    position: relative;
    top: 14em;
    margin-bottom: 10px;
}

.spinner-border {
    position: relative;
    width: 3em;
    height: 3em;
    margin-bottom: 10px;
}

/* Data */

.appendor {
    margin-bottom: 0px;
    text-decoration: none;
}

.card {
    width: 50%;
    padding: 0px;
}

.card-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.data {
    position: relative;
}

.justify-content-center {
    margin: 0px;
}

p {
    text-overflow: ellipsis; 
}

.dataT {
    position: relative;
    top: 1em;
    margin-bottom: 1em;
}

h6 {
    position: relative;
    margin: 0px;
    top: 5px;
    color: gray;
}

/* Media */

@media screen and (min-height: 768px) {
    /* Spinner */

    .spinner-border {
        width: 5em;
        height: 5em;
    }

    .d-flex {
        position: relative;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 180%;
    }

    /* Data */

    .appendor {
        font-size: 80%;
    }

    .data {
        top: 10em;
    }
}